@model IEnumerable<MehdiShop.Models.Product>

@{
    ViewBag.Title = ViewData["GroupName"];
    Layout = "_Layout";
}

<h2>محصولات گروه @ViewData["GroupName"]</h2>

<div class="row">
    @foreach (var item in Model)
    {
        <partial name="_ProductList" model="@item"/>
    }
</div>
