@model IEnumerable<Product>
@{
    ViewData["Title"] = "فروشگاه مهدی";
}

<div class="text-center">
    <h1 class="display-4">به فروشگاه ما خوش آمدید</h1>
    <div class="row">
        @foreach (var item in Model)
        {
            <partial name="_ProductList" model="@item"/>
        }
    </div>
</div>