@{
    ViewData["Title"] = "Home Page";
    Layout = "MyLayout";
}

@section Footer{
<h1>
    <p>
        Im So Glad!!
    </p>
    </h1>
}

<div class="text-center">
    <partial name="datePartial"></partial>
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>