@page
@model MehdiShop.Pages.Admin.Delete

<h1>حذف کالا</h1>

<form method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="Product.Id">
    <div class="form-row">
        <div class="form-group col-md-9 mb-2">
            <label asp-for="Product.Name"></label>
            <input asp-for="Product.Name" class="form-control" readonly>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-9 mb-2">
            <label asp-for="Product.Description"></label>
            <textarea asp-for="Product.Description" class="form-control" readonly></textarea>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-9 mb-2">
            <div class="my-4">
                <img src="/images/@(Model.Product.Id).jpg" style="max-width: 200px"/>
            </div>
        </div>
    </div>
    <input type="submit" class="btn btn-danger mt-5" value="حذف">
</form>